extends ../layout
block content
    if messages.info
        div.alert.alert-success
            p=messages.info
    if messages.success
        div.alert.alert-success
            p=messages.success
    .container-fluid
        h1=`${user.name}`
