extends ../layout

block content
    .container.mb-5
        .row
            h3.mt-5.mb-3="Liste des Utilisateurs"
        .row.mt-5
            .col.text-center
                h1.text-info Cette section est en cours de construction !